

.columns {

    background: rgba(255, 255, 255, 0.5) /* white background with 50% opacity */
    
    }

.element {

    background: white;
    text-align: center;
}

.green {
    border: 1px mediumseagreen solid;
}

#centered {
    text-align: center;

}

#centers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    border-top: 1px mediumseagreen solid;
}
